﻿@using cntr = MonitorApp.MoniterController
@using  MonitorApp
@model MonitorApp.EditMoniterModel

@{

    @if (ViewBag.status == "edit")
    {
        ViewData["Title"] = "Edit";
    }
    else
    {

        ViewData["Title"] = "Add";
    };
    Layout = "_Layout";
}

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700|Kanit|Prompt|Sarabun" />
<style>
    body {
        font-family: 'Kanit', sans-serif;
        background-color: #DCDCDC;
    }


    h4 {
        font-family: 'Kanit', sans-serif;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .nav-green {
        background-color: #049b0c;
        border-color: black;
    }

    .btn {
        margin-bottom: 90px;
    }

    .breadcrumb {
        background-color: transparent;
    }

    .breadcrumb-item + .breadcrumb-item::before {
        content: ">";
    }

    .breadcrumb > .active {
        color: black;
    }

    .whitebg {
        background-color: white;
    }

    tr, th {
        text-align: center;
    }

    .pagination {
        list-style: none;
        display: inline-block;
        padding: 0;
        margin-top: 10px;
    }

        .pagination li {
            display: inline;
            text-align: center;
        }

        .pagination a {
            float: left;
            display: block;
            font-size: 14px;
            text-decoration: none;
            padding: 5px 12px;
            color: black;
            margin-left: -1px;
            border: 1px solid transparent;
            line-height: 1.5;
        }

            .pagination a.active {
                cursor: default;
            }

            .pagination a:active {
                outline: none;
            }

    .modal-3 a {
        margin-left: 3px;
        padding: 0;
        width: 30px;
        height: 30px;
        line-height: 30px;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 100%;
    }

        .modal-3 a:hover {
            background-color: gainsboro;
        }

        .modal-3 a.active, .modal-3 a:active {
            background-color: green;
        }

    .ck-1 {
        position: relative;
        left: 20px;
    }

    .row {
        margin-left: 15px;
        margin-right: 15px;
    }

    .btn-space {
        margin-right: 5px;
    }

    .container {
        max-width: 1500px;
        font-size: 120%;
    }
</style>

@using (Html.BeginForm(FormMethod.Post))
{

    <br />
    <div class="container">
        <div class="card">

            <form>
                @if (ViewBag.status == "edit")
                {

                    <br />
                    <h4 style="color:grey;" class="align-content-end">เเก้ไข</h4>

                }
                else
                {

                    <br />
                    <h4 style="color:grey; " class="mb-2">เพิ่มเว็พเเอพพลิเคชั่น</h4>
                }



                <div class="form-group col-md-12 align-content-center">
                    <label>ชื่อเว็ป</label>
                    @Html.TextBoxFor(x => x.WebAppName, new { @class = "form-control" })
                </div>



                <div class="form-group col-md-12">
                    <label>ลิ้ง</label>
                    @Html.TextBoxFor(x => x.WebAppUrl, new { @class = "form-control" })
                </div>


                <div class="form-group col-md-12 ">
                    <label>IP</label>
                    @Html.TextBoxFor(x => x.WebAppIp, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-12 " style="display:none;">

                    @Html.TextBoxFor(x => x.WebAppId, new { @class = "form-control" })
                </div>
                <div class="m-1">
                    <button class="btn btn-danger " style="float: right;" href="/Moniter">cancel</button>
                    &nbsp;
                    <input type="submit" class="btn btn-success" style="float: right;" value="บันทึก" />

                </div>


            </form>







        </div>

    </div>


    @Html.HiddenFor(x => x.MoniterId)


    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->









    <script src="~/lib/jquery/jquery.js"></script>
    <script>

        $(document).ready(function () {
            var path_to_delete = "test";
            console.log(path_to_delete);
            $(".delete").click(function (e) {

                path_to_delete = $(this).data('path');
                console.log(path_to_delete);
            });

            $('#deleteItem').click(function () {
                window.location = path_to_delete;
            });
        });

        var name_del = ''
        var id_del = ''

        function setNamedel(name, id) {

            this.name_del = name

            this.id_del = id

            this.showNamedel()

        }
        function showNamedel() {


            document.getElementById('deln').innerHTML = "ต้องการลบ สินทรัพย์เลขที่" + id_del + "ชื่อ" + name_del + ""
            document.getElementById("element").innerHTML = "Tutorix";
        }
    </script>
    <script>
        $(document).ready(function () {
            $('.js-example-basic-multiple').select2();
        });

    </script>
}