﻿
@using cntr = MonitorApp.MoniterController
@using MonitorApp
@model MonitorApp.ListMoniterModel

@{
    ViewData["Title"] = "List";
    Layout = "_Layout";
}




<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700|Kanit|Prompt|Sarabun" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style>
    .button{
       
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    tr, th {
        text-align: center;
    }

    body {
        background-color: gainsboro;
        font-family: 'Kanit', sans-serif;
        background-color: #DCDCDC;
    }

    .row {
        margin-left: 15px;
        margin-right: 15px;
    }

    .container {
        max-width: 1500px;
        font-size: 120%;
    }

    .highcharts-figure, .highcharts-data-table table {
        min-width: 310px;
        max-width: 800px;
        margin: 1em auto;
    }

    #container {
        height: 400px;
    }

    .highcharts-figure, .highcharts-data-table table {
        min-width: 360px;
        max-width: 800px;
        margin: 1em auto;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #EBEBEB;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }

</style>

<br />
<div><h4 style="color:gray;">มอนิเตอร์</h4></div>
<div class="container" id="divID">
    <div class="card" style=" border-color: lightgray;">
        <br />

        <form autocomplete="off" action="@Url.Action(MoniterController.ActionList,MoniterController.Name)">



            <div class="row">


                <div class="col">
                    <div class="form-group">

                        ชื่อเว็ปแอป : @Html.TextBoxFor(x => x.WebAppName, new { @class = "form-control", @id = "inputPassword", @placeholder = "ระบุชื่อเว็ปแอป", @type = "input" })


                    </div>
                </div>

                <div class="col ">
                    <div class="form-group">

                        IP : @Html.TextBoxFor(x => x.WebAppIp, new { @class = "form-control", @id = "inputPassword", @placeholder = "ระบุIP", @type = "input" })

                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        Url :  @Html.TextBoxFor(x => x.WebAppUrl, new { @class = "form-control", @id = "inputPassword", @placeholder = "ระบุUrl", @type = "input" })

                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary  float-lg-right mr-1">ค้นหา</button>

                    </div>
                </div>





            </div><br />









        </form>

        <br />
    </div>
    <br />
    <div class="card" style=" border-color: lightgray;">
        <br />
        <div class="row">
            <div>
                อัพเดทสถานะใน... <span id="time">1:00</span> วินาที

            </div>
        </div>
        <div class="form-group">
            <a href="@Url.Action(cntr.ActionEdit, cntr.Name,new {status = true})" type="button" class="btn btn-success mr-2" style="float:right;">
                เพิ่มรายการเว็ปแอพ
            </a>

        </div>&nbsp;
        <br />
        <div class="row">
            <div class="col">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">รหัสเเอพลิเคชั่น</th>
                            <th scope="col">ชื่อเว็ปแอพลิเคชั่น</th>
                            <th scope="col">IP</th>
                            <th scope="col">Url</th>
                            <th scope="col">สถาณะเซิร์ฟเวอร์</th>
                            <th scope="col">สถาณะเว็ปแอป</th>

                            <th scope="col">เวลาที่ประมวลผล</th>
                            <th scope="col">จัดการ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Moniters.Count() == 0)
                        {
                            <tr>
                                <td colspan="5">ไม่พบข้อมูล</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (MoniterModel item in Model.Moniters)
                            {
                                var editUrl = Url.Action(cntr.ActionEdit, cntr.Name, new { id = item.WebAppId });
                                <tr>
                                    <td>@item.WebAppId</td>

                                    <td>@item.WebAppName</td>
                                    <td>@item.WebAppIp</td>
                                    <td>@item.WebAppUrl</td>
                                    @if (item.MoniterServer == 0)
                                    {
                                        <td>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-circle" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                            </svg>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                            </svg>
                                        </td>

                                    }
                                    @if (item.MoniterApp == 0)
                                    {
                                        <td>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-circle" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                            </svg>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                            </svg>
                                        </td>

                                    }


                                    <td>
                                        @item.MoniterTime
                                    </td>


                                    <td>
                                        <a href="@Url.Action(cntr.ActionEdit, cntr.Name,new {id = item.WebAppId ,status = false})" style="width:2rem;" type="button" class="btn btn-warning btn-sm ">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                            </svg>
                                        </a>


                                        <button class="btn btn-danger btn-sm delete" style="width:2rem" data-toggle="modal" data-target="#delModal" data-path="@Url.Action(cntr.ActionDelelete, cntr.Name, new { editid = item.WebAppId })" id="delete" onclick="setNamedel(@item.WebAppName, @item.WebAppId)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                                            </svg>
                                        </button>

                                        <button class="btn btn-primary btn-sm " data-toggle="modal" data-target="#report" data-path="@Url.Action(cntr.ActionDelelete, cntr.Name, new { editid = item.WebAppId })" id="delete" onclick="setNamedel(@item.WebAppName, @item.WebAppId)">
                                            <i class="fa fa-lg fa-info" aria-hidden="true" width="20" height="20"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                @Html.Raw(UCHelper.FcsPaging(Url, Model, MoniterController.ActionList))




                <div id="report" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-body" id="deln">
                        
                                <figure class="highcharts-figure">
                                    <div id="container"></div>
                                 
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Timer" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            ตัวตั้งเวลา
                            <div class="row">
                                <div class="col-md-6">
                                    ชั่วโมง:  <select class="form-select" aria-label="Default select example">
                                        <option selected>Open this select menu</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="40">40</option>
                                        <option value="50">50</option>
                                        <option value="59">59</option>

                                    </select>
                                </div>

                                <div class="col-md-6">
                                    นาที:   <select class="form-select" aria-label="Default select example">
                                        <option selected>Open this select menu</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="40">40</option>
                                        <option value="50">50</option>
                                        <option value="59">59</option>

                                    </select>
                                </div>
                            </div>
                            <div class="row"><br /></div>
                        </div>

                    </div>
                </div>

                <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Delete</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="deln">
                                คุณแน่ใจหรือว่าต้องการลบข้อมูลนี้?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                                <button type="button" class="btn btn-primary" id="deleteItem">ตกลง</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->


 <script src="https://code.highcharts.com/highcharts.js"></script>
 <script src="https://code.highcharts.com/modules/exporting.js"></script>
 <script src="https://code.highcharts.com/modules/export-data.js"></script>
 <script src="https://code.highcharts.com/modules/accessibility.js"></script>



    <script src="~/lib/jquery/jquery.js"></script>
    <script>
        function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (--timer < 0) {
                    timer = duration;
                }
            }, 1000);
        }

        window.onload = function () {
            var fiveMinutes = 60,
                display = document.querySelector('#time');
            startTimer(fiveMinutes, display);
        };
    </script>


    @section Scripts {
        <script>
            var displayFormat = 'D/M/YYYY'
            var th_i18n = {
                previousMonth: 'เดือนก่อนหน้า',
                nextMonth: 'เดือนถัดไป',
                months: ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤศจิกายน', 'ธันวาคม'],
                weekdays: ['อาทิตย์', 'จันทร์', 'อังคาร', 'พุธ', 'พฤหัสบดี', 'ศุกร์', 'เสาร์'],
                weekdaysShort: ['อา', 'จ', 'อ', 'พ', 'พฤ', 'ศ', 'ส']
            };
            var createDatePick = new Pikaday({
                field: $("#createDate")[0],
                format: displayFormat,
                onSelect: function () {
                    console.log(this.getMoment());
                }
            });
            var modifyDatePick = new Pikaday({
                field: $("#modifyDate")[0],
                format: displayFormat,
                onSelect: function () {
                    console.log(this.getMoment());
                }
            });
            $(document).ready(function () {
                var path_to_delete = "test";
                $(".delete").click(function (e) {

                    path_to_delete = $(this).data('path');
                    console.log(path_to_delete);
                });

                $('#deleteItem').click(function () {
                    window.location = path_to_delete;
                });
            });
        </script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            var displayFormat = 'D/M/YYYY'

            $(document).ready(function () {
                $("#datepicker").datepicker()
            });


        </script>
        <script>
            var displayFormat = 'D/M/YYYY'

            $(document).ready(function () {
                $("#datepicker2").datepicker()
            });


        </script>

    }
    <script>

        $(document).ready(function () {
            var path_to_delete = "test";
            console.log(path_to_delete);
            $(".delete").click(function (e) {

                path_to_delete = $(this).data('path');
                console.log(path_to_delete);
            });

            $('#deleteItem').click(function () {
                window.location = path_to_delete;
            });
        });

        var name_del = ''
        var id_del = ''

        function setNamedel(name, id) {

            this.name_del = name

            this.id_del = id

            this.showNamedel()

        }
        function showNamedel() {

            document.getElementById('deln').innerHTML = "ต้องการลบ สินทรัพย์เลขที่" + id_del + "ชื่อ" + name_del + ""
            document.getElementById("element").innerHTML = "Tutorix";
        }
    </script>
    <script>

        Highcharts.chart('container', {
            chart: {
                type: 'line'
            },
            title: {
                text: 'สถาณะการล่ม ในวันนี้'
            },
            subtitle: {
                text: 'Source: WorldClimate.com'
            },
            xAxis: {
                categories: ['8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00', '00:00']
            },
            yAxis: {
                title: {
                    text: 'สถาณะ'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                name: 'แม่ข่าย',
                data: [0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0,0]
            }, {
                name: 'เว็ปแอพพลิเคชั่น',
                    data: [0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1]
            }]
        });

    </script>
    <script>
        window.setInterval('refresh()', 60000);

        // Refresh or reload page.
        function refresh() {
            window.location.reload();
        }
    </script>
