﻿@using cntr = MonitorApp.MoniterController
@using MonitorApp
@model MonitorApp.ListMoniterModel

@{
    ViewData["Title"] = "List";
    Layout = "_Layout";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700|Kanit|Prompt|Sarabun" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style>

    tr, th {
        text-align: center;
    }

    body {
        background-color: gainsboro;
    }

    .row,h4{
        margin-left: 15px;
        margin-right: 15px;
    }
    .container {
        max-width: 1500px;
        font-size: 120%;
    }
</style>

<br />
<div><h4 style="color:gray;">ประวัติการมอนิเตอร์</h4></div>
<div class="container">
    <div class="card" style=" border-color: lightgray;">
        <br />

        <form autocomplete="off" action="@Url.Action(MoniterController.ActionLog,MoniterController.Name)">



            <div class="row">


                <div class="col">
                    <div class="form-group">

                       ชื่อเว็ปแอป : @Html.TextBoxFor(x => x.WebAppName, new { @class = "form-control", @id = "inputPassword", @placeholder = "ระบุชื่อเว็ปแอป", @type = "input" })


                    </div>
                </div>

                <div class="col ">
                    <div class="form-group">

                        IP : @Html.TextBoxFor(x => x.WebAppIp, new { @class = "form-control", @id = "inputPassword", @placeholder = "ระบุIP", @type = "input" })

                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        Url :   @Html.TextBoxFor(x => x.WebAppUrl, new { @class = "form-control", @id = "inputPassword", @placeholder = "ระบุUrl", @type = "input" })

                    </div>
                </div>





            </div><br />
            <div class="row">


                <div class="col">
                    <div class="form-group">
                        ช่วงวันที่เริ่มต้น :  @Html.TextBoxFor(x => x.CreateDate, "{0:yy-dd-mm}", new { @class = "datepicker form-control", @id = "datepicker", @placeholder = "วัน/เดือน/ปี" })

                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        ช่วงวันที่สิ้นสุด :  @Html.TextBoxFor(x => x.EndDate, "{0:yy-dd-mm}", new { @class = "datepicker form-control", @id = "datepicker2", @placeholder = "วัน/เดือน/ปี" })

                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary  float-lg-right mr-1">ค้นหา</button>

                    </div>
                </div>

            </div>








        </form>








        <br />
    </div>
    <br />

    <br />
    <div class="card" style="border-color:lightgray;">
        <br />

        <br />


        <div class="row">
            <div class="col">
                <table class="table table-sm table-hover ">
                    <thead>
                        <tr>
                            <th scope="col">รหัสเเอพลิเคชั่น</th>
                            <th scope="col">ชื่อเว็ปแอพลิเคชั่น</th>
                            <th scope="col">IP</th>
                            <th scope="col">Url</th>
                            <th scope="col">สถาณะเซิร์ฟเวอร์</th>
                            <th scope="col">สถาณะเว็ปแอป</th>

                            <th scope="col">เวลาที่ประมวลผล</th>
                            <th scope="col">วันที่</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Moniters.Count() == 0)
                        {
                            <tr>
                                <td colspan="5">ไม่พบข้อมูล</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (MoniterModel item in Model.Moniters)
                            {
                                var editUrl = Url.Action(cntr.ActionEdit, cntr.Name, new { id = item.WebAppId });
                                //var editUrl2 = Url.Action(cntr.ActionEdit2, cntr.Name, new { id = item.WebAppId });
                                <tr>
                                    <td>@item.WebAppId</td>

                                    <td>@item.WebAppName</td>
                                    <td>@item.WebAppIp</td>
                                    <td>@item.WebAppUrl</td>
                                    @if (item.MoniterServer == 0)
                                    {
                                        <td>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-circle" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                            </svg>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                            </svg>
                                        </td>

                                    }
                                    @if (item.MoniterApp == 0)
                                    {
                                        <td>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-circle" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                            </svg>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                            </svg>
                                        </td>

                                    }

                                    <td>
                                        @item.MoniterTime
                                    </td>

                                    <td>
                                        @item.CreateDate.Day /   @item.CreateDate.Month/   @item.CreateDate.Year

                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                @Html.Raw(UCHelper.FcsPaging(Url, Model, MoniterController.ActionLog))
            </div>
        </div>
    </div>







    <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    คุณแน่ใจหรือว่าต้องการลบข้อมูลนี้?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                    <button type="button" class="btn btn-primary" id="deleteItem">ตกลง</button>
                </div>
            </div>
        </div>
    </div>

   
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">ยืนยันการลบ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="deln">ต้อองการลบ</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                    <button type="button" class="btn btn-primary" id="deleteItem">ตกลง</button>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/jquery.js"></script>



@section Scripts {
    <script>
        var displayFormat = 'D/M/YYYY'
        var th_i18n = {
            previousMonth: 'เดือนก่อนหน้า',
            nextMonth: 'เดือนถัดไป',
            months: ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤศจิกายน', 'ธันวาคม'],
            weekdays: ['อาทิตย์', 'จันทร์', 'อังคาร', 'พุธ', 'พฤหัสบดี', 'ศุกร์', 'เสาร์'],
            weekdaysShort: ['อา', 'จ', 'อ', 'พ', 'พฤ', 'ศ', 'ส']
        };
        var createDatePick = new Pikaday({
            field: $("#createDate")[0],
            format: displayFormat,
            onSelect: function () {
                console.log(this.getMoment());
            }
        });
        var modifyDatePick = new Pikaday({
            field: $("#modifyDate")[0],
            format: displayFormat,
            onSelect: function () {
                console.log(this.getMoment());
            }
        });
        $(document).ready(function () {
            var path_to_delete = "test";
            $(".delete").click(function (e) {

                path_to_delete = $(this).data('path');
                console.log(path_to_delete);
            });

            $('#deleteItem').click(function () {
                window.location = path_to_delete;
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        var displayFormat = 'D/M/YYYY'
          
            $(document).ready(function () {
                $("#datepicker").datepicker()
            });
   
    
    </script>
    <script>
        var displayFormat = 'D/M/YYYY'

        $(document).ready(function () {
            $("#datepicker2").datepicker()
        });


    </script>

}
<script>

    $(document).ready(function () {
        var path_to_delete = "test";
        console.log(path_to_delete);
        $(".delete").click(function (e) {

            path_to_delete = $(this).data('path');
            console.log(path_to_delete);
        });

        $('#deleteItem').click(function () {
            window.location = path_to_delete;
        });
    });

    var name_del = ''
    var id_del = ''

    function setNamedel(name, id) {

        this.name_del = name

        this.id_del = id

        this.showNamedel()

    }
    function showNamedel() {

        document.getElementById('deln').innerHTML = "ต้องการลบ สินทรัพย์เลขที่" + id_del + "ชื่อ" + name_del + ""
        document.getElementById("element").innerHTML = "Tutorix";
    }
</script>

